spring:
  application:
    name: tripsplite-backend
  
  datasource:
    url: jdbc:mysql://my8003.gabiadb.com:3306/imchongmu?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: chongmu
    password: chongmu12!@
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

jwt:
  secret: TripSpliteSecretKeyForJWTTokenGenerationMustBe256BitsLong!!
  access-token-expiry: 900000
  refresh-token-expiry: 1209600000
